#CompanyLogoImageWrapper {
    position: relative;
    display: block;
}

#CompanyLogoImage {
    height: auto;
    max-height: 200px;
    width: auto;
    max-width: 100%;
    display: block;
}

#TestFailureImageWrapper {
    position: relative;
    display: block;
    padding: 40px 40px 40px 40px;
}

#TestFailureImage {
    height: auto;
    max-height: 300px;
    width: auto;
    max-width: 100%;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#TestFailureImage:hover {
    opacity: 0.7;
}

#TestStepsTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 10px auto;
    width: 80%;
}

#EventLogsTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 10px 50% 10px 10%;
    width: 12%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -moz-animation-name: zoom;
    -moz-animation-duration: 0.6s;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform:scale(0)
    } 
    to {
        transform:scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}